/* Grid */
/* example */
/* +arr(500,50, #000, l) */
/* +arr(500,50, #000, bl) */
/* Retina Backgrounds for Compass */
/* by:              Gaya Kessler */
/* last update:     03/11/14 */
/* url: https://github.com/pixelmord/Retina-Sprites-for-Compass */
/* */
/* Usage: */
/* 1. create background image for pixel ratio 1 screens and put it somewhere in your images folder. */
/* 2. create background image for pixel ratio 2 screens and put it somewhere in your images folder. */
/* 3. include the background-image property in your Sass/Scss using: '@include background-retina(<ratio-1-imagefile>, <ratio-2-imagefile>)' */
/* Use Google Fonts */
/* @import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin,cyrillic) */
/* or */
/* @include font-face("Samplina Neue", "../fonts/SamplinaNeue"); */
* {
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html,
body {
  width: 100%;
  height: 100%;
  cursor: default;
}

body {
  font: normal 14px/1.4 Arial, sans-serif;
  color: #000;
  background: #fff;
}

html._mobile body {
  -webkit-text-size-adjust: 100%;
}

img,
fieldset {
  border: 0;
}

fieldset legend {
  display: none;
}

ul,
li {
  list-style-type: none;
}

img {
  vertical-align: top;
}

a {
  color: inherit;
  text-decoration: underline;
}

a:hover {
  color: #333;
  text-decoration: none;
}

table {
  border: 0;
  border-collapse: collapse;
}

table td {
  padding: 0;
  vertical-align: top;
}

input,
select,
textarea {
  box-sizing: border-box;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
}

input[type='search'] {
  -webkit-appearance: textfield;
}

::selection {
  background: #5f5f5f;
  color: #ffffff;
  text-shadow: none;
}

::-moz-selection {
  background: #5f5f5f;
  color: #ffffff;
  text-shadow: none;
}

a[href^='tel'] {
  color: inherit;
  text-decoration: none;
}

button {
  user-select: none;
  border-radius: 0;
}

.clearfix:after {
  content: ' ';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  font-size: 0;
}

.invisible-container {
  position: absolute;
  top: -9999px;
  left: -9999px;
  width: 0;
  height: 0;
  overflow: hidden;
  z-index: -1;
}

.no-select {
  user-select: none;
}

.no-pe {
  pointer-events: none;
}

.static-text p {
  margin-bottom: 1.4em;
}

.static-text img {
  max-width: 100%;
}

@keyframes rotating {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Linear png spinner */
.transition-active, .animated, .button {
  transition: color 0.4s ease-out, background 0.4s ease-out, border-color 0.4s ease-out;
}

.transition-hover, .animated:hover {
  transition: none;
}

.force3D {
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
}

.wrapper {
  position: relative;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.header-content {
  display: flex;
  justify-content: space-between;
}

.header {
  padding: 20px 0;
  background: #ccc;
}

.menu {
  display: flex;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid rgba(0, 0, 0, 0.3);
  height: 54px;
  font-weight: 700;
  cursor: pointer;
  font-size: 16px;
  letter-spacing: -0.5px;
  padding: 1px 20px 0;
}

.button:hover {
  background-color: rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.8);
  transition: none;
}

.button:active {
  background-color: rgba(0, 0, 0, 0.25);
  border-color: rgba(0, 0, 0, 0.25);
}

.button:active .button__chevron-right {
  transform: translateX(1px);
  transition: none;
}

.button__chevron-right {
  margin-left: 5px;
  transition: transform 0.1s ease-out, fill 0.4s ease-out;
}
